<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecSys</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="~/lib/icon.png" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
</head>
<body>
    @if (ViewContext.RouteData.Values["Page"]?.ToString()?.Contains("ResultPage") != true)
    {
        <header class="navbar-fixed-top">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Supervisor Recommendation System</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                        </ul>

                        <div class="d-flex align-items-center ms-auto">
                            @* Hide Admin Login on AdminDashboard page *@
                            @if (ViewContext.RouteData.Values["Page"]?.ToString() != "/AdminDashboard")
                            {
                                <a class="btn btn-outline-light" asp-page="/AdminLogin">Admin Login</a>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container main-content mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
